.text-platzi{
    color: #e209ac !important;
}

.btn-platzi{
    background-color:#da0b95;
    color: white;
}

.btn-platzi:hover{
    background-color: #990875;
}

#header img {
width: 80px;
position: relative;
border-radius: 10%;

}
#main .carousel-inner img {
max-height: 70vh;
object-fit: cover;
filter: grayscale(10%);

}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;

}

#place-time{
    background: linear-gradient(90deg,#e209ac,#e209acc4 25%,#1e5372);
color: white;
}

#place-time img{
    max-width: 100%;

}

#footer{
    background: linear-gradient(90deg,#e209ac,#e209acc4 25%,#1e5372);

}
#footer a{
    color: white;
}
#header{
    background: linear-gradient(90deg,#e209ac,#e209acc4 25%,#1e5372)
    
}
body{
    position: relative;
    background-image: url(imgs/gala.jpeg);
    
    /*background-repeat: no-repeat;*/
    
}

